/Cabine.class
/CabineFamille.class
/CabineFamilleDeluxe.class
/CabineInterieur.class
/CabineSuite.class
/CabineVueSurOcean.class
/Habitat.class
/HabitatConfirmee.class
/HabitatDisponible.class
/HabitatReservee.class
/Section.class
/SectionAffaire.class
/SectionCabines.class
/SectionEcoPlus.class
/SectionEconomique.class
/SectionPremiere.class
/SectionSieges.class
/Siege.class
/disposition.class
/Disposition.class
